.order-title{
    font-family: 'Cabin', sans-serif;
}
.title-container{
    overflow: hidden;
}
.title-container::before{
    content:"";
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    top:-30%;
    left: 30%;
    position: absolute;
    background: linear-gradient(-135deg,rgba(62, 255, 189, 0.737) 20%, rgb(47, 238, 229) 70%);
}
@keyframes rotateGradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}