.order-card{
    grid-template-columns: 48px auto auto 24px;
}
.order-price::before{
    content: "$";
}
.order-card figure{
    position: relative;

}
.order-card figure::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    z-index: 100;
}
.bordered-div{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}