.order-card{
    grid-template-columns: 210px auto  70px;
}
.price{
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Cabin', sans-serif;
}
.price::before{
    content: "$";
}
.order-card figure{
    position: relative;

}
.order-card figure::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    z-index: 100;
}
.order-details{
    font-family: 'Mulish', sans-serif;
    font-size: large;
}